* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    padding: 0 !important;
    color: #ffffff;
    background: #00254F;
    border-radius: 4px !important;
}